<!DOCTYPE html>
<html>
<head>
	<title>List</title>
</head>
<body>
	<h1>List of Videos</h1>
	
	<ul>
    <% table.forEach(function(r) { %>
        <li><a href="/watch?id=<%= r.videocode %>"><%= r.videocode %></a> - <%= r.username %></li>
    <% }); %>
	</ul>

	<p><a href="addvideo.html">Add a Video!</a></p>
</body>
</html>